.titulo__text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;

    background: -webkit-linear-gradient(top, #3E4BB9 40%, #8015C1 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 52px;
}
.container1{
    font-size: 4vh;
    color: #B391F7;
}
.caracteristicas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}
.banner-eula{
    height: 500px;
    width: 1000px;
}
.banner-yaeMiko{
    height: 500px;
    width: 1000px;
}
.banner-tinhinary{
    height: 500px;
    width: 1000px;
}