.titulo__text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B391F7;
    font-size: 8vh;
}
.container1{
    font-size: 4vh;
    color: #B391F7;
}
.caracteristicas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}
.banner-eula{
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 250px;
}