.titulo__text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;

    background: -webkit-linear-gradient(top, #D2B4E4 40%, #8015C1 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 52px;
}
.container{
    font-size: 4vh;
    color: white;
}
.text{
    font-size: 5vh;
    color: white;
}
.nahira{

    display: flex;
    padding-top: 235px; 
    padding-left: 250px;
    position: relative;

}
.nahira-title{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 6vh;
}
.container2{
    display: flex;
    align-items: flex-end;
    color: #F2F53C;
    font-size: 4vh;
}
.nahira-text{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 50px; 
    padding-left: 250px;
    font-size: 4vh;
    gap: 50px;
}
.container3{
    display: flex;
    gap: 100px;
}
.linha-horizontal {
    width: 300px;
    border: 2px solid #fff;
}
.nahira-img{
    position: relative;
    top: -580px;
    margin-left: 20px;
    padding-left: 1300px;
}
