:root {

}
.pai_sections{
    background-image: url(../img/backgroundSecundario.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 120vh;
}
.home{
    
}
.novos-personagens{
    
}
.novos-inimigos{
  
}
.informacoes-versao{
  
}
.caracteristicas{
    
}