:root {

}
.pai_sections{
    background-image: url(../img/backgroundSecundario.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    height: 120vh;
}
.novos-personagens{
    height: 100vh;
}
.novos-inimigos{
    height: 160vh;
}
.informacoes-versao{
    height: 150vh;
}
.caracteristicas{
    height: 120vh;
} 


